{% extends 'base.html' %}
{% load static %}


{% block content %}


    <!-- Service Start -->

    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Menu</h4>
                <h1 class="display-4">Fresh CheeseCake</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/lotus_cake_menu.jpg' %}" alt="">
                            <h6 class="menu-price">£ 1300</h6>
                        </div>
                        <div class="col-sm-7">
                            <h4>The No Bake Lotus CheeseCake</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor
                                sed est sit invidunt.</p>
                            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/classic_cake_menu.jpg' %}" alt="">
                            <h6 class="menu-price">£ 490</h6>

                        </div>
                        <div class="col-sm-7">
                            <h4>Small Classic CheeseCake</h4>

                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor
                                sed est sit invidunt.</p>
                            <br>
                            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/classic_cake_menu.jpg' %}" alt="">
                            <h6 class="menu-price">£ 750</h6>

                        </div>
                        <div class="col-sm-7">
                            <h4>Medium Classic CheeseCake</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor
                                sed est sit invidunt.</p>
                            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/classic_cake_menu.jpg' %}" alt="">
                            <h6 class="menu-price">£ 990</h6>
                        </div>
                        <div class="col-sm-7">
                            <h4>Large Classic CheeseCake</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor
                                sed est sit invidunt.</p>
                            <br>
                            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Service End -->


    <!-- Service Start -->

    <div class="container-fluid">
        <div class="container">
            <h1 class="display-4" style="   position: relative;
                                            padding: 115px 0 35px 0;
                                            text-align: center;">
                Our Special Sauces
            </h1>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/strawberries_menu.jpg' %}" alt="">
                            <h6 class="menu-price">£ 110</h6>

                        </div>
                        <div class="col-sm-7">
                            <h4>HomeMade Strawberry Sauce - 200 grams</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor
                                sed est sit invidunt.</p>
                            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/caramel_sauce_menu.png' %}" alt="">
                            <h6 class="menu-price">£ 140</h6>

                        </div>
                        <div class="col-sm-7">
                            <h4>HomeMade Salted Caramel Sauce - 200 grams</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor
                                sed est sit invidunt.</p>
                            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div>
                </div>

                 <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/strawberry_sauce_menu.jpg' %}" alt="">
                            <h6 class="menu-price">£ 70</h6>

                        </div>
                        <div class="col-sm-7">
                            <h4>HomeMade Strawberry Sauce - Half Portion</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor
                                sed est sit invidunt.</p>
                            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/caramel_sauce_menu.png' %}" alt="">
                            <h6 class="menu-price">£ 80</h6>

                        </div>
                        <div class="col-sm-7">
                            <h4>HomeMade Salted Caramel Sauce - Half Portion</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor
                                sed est sit invidunt.</p>
                            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock %}
