{% load static %}
<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar {% if request.resolver_match.url_name != 'home' %}overlay-bottom{% else %}overlay-bottom{% endif %}">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="{% url 'home' %}" class="navbar-brand px-lg-4 m-0">
            <img class="m-0 display-4 text-white" src="{% static 'img/imageedit_2_8937430932.png' %}" />
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <a href="{% url 'home' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a>
                <a href="{% url 'menu' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'menu' %}active{% endif %}">Menu</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact Us</a>
                <a href="{% url 'cart' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'cart' %}active{% endif %}">Cart</a>
                <a href="{% url 'login' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}">Login</a>
                <a href="{% url 'account' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'account' %}active{% endif %}">Account</a>

            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
